# Homework Assignment

1. Read the titanic data set into a pandas dataframe.
2. Look at the first 5 rows.
3. What is the size of the data set? (rows and columns)
4. How many people survived? What percentage of people survived?
5. What percentage of passengers are male? female?
6. What is the survival rate of male passengers? female passengers?
7. How many different cabin classes, Pclass, are there?
8. What percent of the passengers are in each class?
9. What is the survival rate within each class?
10. Create a histogram of ages split by sex and survival.
11. Create a boxplot for age split by class and sex.
12. For each class create a histogram plot of ages split by suvivor or not. ( You will have one figure for each class. Each figure will have two histograms on it. One for survivors and one for non-survivors where the survivors are colored blue and non-survivors colored red)
13.  Discuss anything interesting you found. Where there any surprises? Are there any data issues you found? If you wanted to predict survival or not what do you think we be the most useful?

In [2]:
import pandas as pd
#from  _future_ import division
import numpy as np
import matplotlib
%matplotlib inline

In [3]:
#Qs 1

df_titanic = pd.read_csv('C:/Users/sawadhawan/Documents/GitHub/Homework/Homework1/titanic_train.csv')

In [4]:
#Qs 2
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [4]:
df_titanic.shape

(891, 12)

Dataset contains 891 rows and 12 columns

In [12]:
len(df_titanic.index)

891

In [26]:
total_people=len(df_titanic.index)

In [27]:
total_people

891

In [28]:
total_Survived = len(df_titanic[df_titanic['Survived']==True])

In [29]:
#How many people survived?
total_Survived

342

In [36]:
perc_survived = (1.0 * total_Survived)/total_people *100

In [37]:
#What percentage of people survived?
perc_survived

38.38383838383838

In [45]:
#What percentage of passengers are male? female?
perc_male = (len(df_titanic[df_titanic['Sex']=='male'])*1.0) / total_people *100
print 'Percentage of male passengers'
print perc_male
perc_female = (len(df_titanic[df_titanic['Sex']=='female'])*1.0) / total_people *100
print 'Percentage of male passengers'
print perc_female

Percentage of male passengers
64.758698092
Percentage of male passengers
35.241301908

In [54]:
#What is the survival rate of male passengers? female passengers?

male_survive = (len(df_titanic[(df_titanic['Sex']=='male') & (df_titanic['Survived']==True)]) *1.0) / len(df_titanic[df_titanic['Sex']=='male']) *100
print 'Male Survival rate %'
print male_survive

Male Survival rate %
18.8908145581

In [55]:
female_survive = (len(df_titanic[(df_titanic['Sex']=='female') & (df_titanic['Survived']==True)]) *1.0) / len(df_titanic[df_titanic['Sex']=='female']) *100
print 'Female Survival rate %'
print female_survive

Female Survival rate %
74.2038216561

In [56]:
#How many different cabin classes, Pclass, are there?
len(set(df_titanic['Pclass']))

3

In [67]:
len(set(df_titanic['Cabin']))

148

In [61]:
total_p_class= df_titanic.groupby(['Pclass']).count(1)

In [63]:
total_p_class

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,,,,,,,,,,,
1,216,216,216,216,186,216,216,216,216,176,214
2,184,184,184,184,173,184,184,184,184,16,184
3,491,491,491,491,355,491,491,491,491,12,491

In [65]:
df_titanic['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [66]:
df_titanic['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6', 'C23 C25 C27',
       'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33', 'F G73', 'E31',
       'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101', 'F E69', 'D47',
       'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4', 'A32', 'B4',
       'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35', 'C87', 'B77',
       'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19', 'B49', 'D',
       'C22 C26', 'C106', 'C65', 'E36', 'C54', 'B57 B59 B63 B66', 'C7',
       'E34', 'C32', 'B18', 'C124', 'C91', 'E40', 'T', 'C128', 'D37',
       'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44', 'A34', 'C104', 'C111',
       'C92', 'E38', 'D21', 'E12', 'E63', 'A14', 'B37', 'C30', 'D20',
       'B79', 'E25', 'D46', 'B73', 'C95', 'B38', 'B39', 'B22', 'C86',
       'C70', 'A16', 'C101', 'C68', 'A10', 'E68', 'B41', 'A20', 'D19',
       'D50', 'D9', 'A23', 'B50', 'A26', 'D48', 'E58', 'C126', 'B71',
       'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63', 'C62 C64', 'E24', 'C90',
       'C45', 'E8', 'B101', 'D45', 'C46', 'D30', 'E121', 'D11', 'E77',
       'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36', 'B102', 'B69', 'E49',
       'C47', 'D28', 'E17', 'A24', 'C50', 'B42', 'C148'], dtype=object)

In [ ]:
#What percent of the passengers are in each class?